$azul: #549a44;
$azul-claro: #b0d7e1;
$naranja: #f1802d;

@mixin margenes ($top, $bottom){
  margin-top: $top;
  margin-bottom: $bottom;
}

.jumbotron, footer{
  background-color: $azul;
  color: white;
}
.jumbotron{
  @include margenes(50px,10px);
}
h2{
  color: $naranja;
}
a{
  color: $azul-claro;
}
a:hover{
  color: $naranja;
}
footer{
  @include margenes(15px,0px);
  padding-top: 10px;
}
.tip{
  padding: 10px;
}
.card-academia{
  flex: 1 200px;
  max-width: 450px;
}
.btn-info-academia{
  border-radius: 0px;
}
.oi{
  margin-right: 5px;
}
