.jumbotron, footer {
  background-color: #549a00;
  color: white; }

.jumbotron {
  margin-top: 50px;
  margin-bottom: 10px; }

h2 {
  color: #f1802d; }

a {
  color: #b0d7e1; }

a:hover {
  color: #f1802d; }

footer {
  margin-top: 15px;
  margin-bottom: 0px;
  padding-top: 10px; }

.tip {
  padding: 10px; }

.card-academia {
  flex: 1 200px;
  max-width: 450px; }

.btn-info-academia {
  border-radius: 0px; }

.oi {
  margin-right: 5px; }
